In [1]:
import pandas as pd

DataFrame Concat 연습

In [2]:
pd.DataFrame({'Key1':[1,2,3,4,5]})

   Key1
0     1
1     2
2     3
3     4
4     5

In [6]:
df1 = pd.DataFrame({'A':[1,3,5,7,9],
                    'B':[11,12,13,14,15],
                    'C':[0,1,2,3,4],
                    'D':[101,102,103,104,105]}, index=[1,2,3,4,5])

In [7]:
df1

   A   B  C    D
1  1  11  0  101
2  3  12  1  102
3  5  13  2  103
4  7  14  3  104
5  9  15  4  105

In [9]:
df2 = pd.DataFrame({'A':[2,4,6,8,10],
                   'B':[1,2,3,4,5],
                   'C':[30,31,32,33,34],
                   'D':[1011,1012,1013,1014,1015]}, index=[6,7,8,9,10])

In [10]:
df2

     A  B   C     D
6    2  1  30  1011
7    4  2  31  1012
8    6  3  32  1013
9    8  4  33  1014
10  10  5  34  1015

In [11]:
pd.concat([df1, df2])

     A   B   C     D
1    1  11   0   101
2    3  12   1   102
3    5  13   2   103
4    7  14   3   104
5    9  15   4   105
6    2   1  30  1011
7    4   2  31  1012
8    6   3  32  1013
9    8   4  33  1014
10  10   5  34  1015

In [12]:
pd.concat([df1,df2], axis=1)

      A     B    C      D     A    B     C       D
1   1.0  11.0  0.0  101.0   NaN  NaN   NaN     NaN
2   3.0  12.0  1.0  102.0   NaN  NaN   NaN     NaN
3   5.0  13.0  2.0  103.0   NaN  NaN   NaN     NaN
4   7.0  14.0  3.0  104.0   NaN  NaN   NaN     NaN
5   9.0  15.0  4.0  105.0   NaN  NaN   NaN     NaN
6   NaN   NaN  NaN    NaN   2.0  1.0  30.0  1011.0
7   NaN   NaN  NaN    NaN   4.0  2.0  31.0  1012.0
8   NaN   NaN  NaN    NaN   6.0  3.0  32.0  1013.0
9   NaN   NaN  NaN    NaN   8.0  4.0  33.0  1014.0
10  NaN   NaN  NaN    NaN  10.0  5.0  34.0  1015.0

In [14]:
df1.reset_index(drop=True, inplace=True)

In [15]:
df1

   A   B  C    D
0  1  11  0  101
1  3  12  1  102
2  5  13  2  103
3  7  14  3  104
4  9  15  4  105

In [16]:
df2.reset_index(drop=True, inplace=True)

In [17]:
df2

    A  B   C     D
0   2  1  30  1011
1   4  2  31  1012
2   6  3  32  1013
3   8  4  33  1014
4  10  5  34  1015

In [18]:
pd.concat([df1, df2], axis=1)

   A   B  C    D   A  B   C     D
0  1  11  0  101   2  1  30  1011
1  3  12  1  102   4  2  31  1012
2  5  13  2  103   6  3  32  1013
3  7  14  3  104   8  4  33  1014
4  9  15  4  105  10  5  34  1015

DataFrame merge

In [23]:
df1 = pd.DataFrame({'id':['X01', 'X02', 'X03', 'X04', 'X05'],
                    'A':[1,3,5,7,9],
                    'B':[11,12,13,14,15],
                    'C':[0,1,2,3,4],
                    'D':[101,102,103,104,105]})
df2 = pd.DataFrame({'id':['X01', 'X02', 'X03', 'X04', 'X07'],
                    'E':[2,4,6,8,10],
                   'F':[1,2,3,4,5],
                   'G':[30,31,32,33,34],
                   'H':[1011,1012,1013,1014,1015]})

In [24]:
df1

    id  A   B  C    D
0  X01  1  11  0  101
1  X02  3  12  1  102
2  X03  5  13  2  103
3  X04  7  14  3  104
4  X05  9  15  4  105

In [25]:
df2

    id   E  F   G     H
0  X01   2  1  30  1011
1  X02   4  2  31  1012
2  X03   6  3  32  1013
3  X04   8  4  33  1014
4  X07  10  5  34  1015

In [29]:
pd.merge(df1, df2, on='id')   # df1, df2의 교집합 되는 데이터만 merge
# pd.merge(df1, df2, on='id', how='inner')    # 위의 식과 동치

    id  A   B  C    D  E  F   G     H
0  X01  1  11  0  101  2  1  30  1011
1  X02  3  12  1  102  4  2  31  1012
2  X03  5  13  2  103  6  3  32  1013
3  X04  7  14  3  104  8  4  33  1014

In [27]:
pd.merge(df1, df2, on='id', how='outer')  # df1, df2의 합집합 시 얻어지는 데이터들을 모두 포함하여 merge

    id    A     B    C      D     E    F     G       H
0  X01  1.0  11.0  0.0  101.0   2.0  1.0  30.0  1011.0
1  X02  3.0  12.0  1.0  102.0   4.0  2.0  31.0  1012.0
2  X03  5.0  13.0  2.0  103.0   6.0  3.0  32.0  1013.0
3  X04  7.0  14.0  3.0  104.0   8.0  4.0  33.0  1014.0
4  X05  9.0  15.0  4.0  105.0   NaN  NaN   NaN     NaN
5  X07  NaN   NaN  NaN    NaN  10.0  5.0  34.0  1015.0

In [30]:
pd.merge(df1, df2, on='id', how='left') # df1에 해당하는 데이터만 merge   # X05가 포함됨

    id  A   B  C    D    E    F     G       H
0  X01  1  11  0  101  2.0  1.0  30.0  1011.0
1  X02  3  12  1  102  4.0  2.0  31.0  1012.0
2  X03  5  13  2  103  6.0  3.0  32.0  1013.0
3  X04  7  14  3  104  8.0  4.0  33.0  1014.0
4  X05  9  15  4  105  NaN  NaN   NaN     NaN

In [32]:
pd.merge(df1, df2, on='id', how='right') # df2에 해당하는 데이터만 merge  # X07가 포함됨

    id    A     B    C      D   E  F   G     H
0  X01  1.0  11.0  0.0  101.0   2  1  30  1011
1  X02  3.0  12.0  1.0  102.0   4  2  31  1012
2  X03  5.0  13.0  2.0  103.0   6  3  32  1013
3  X04  7.0  14.0  3.0  104.0   8  4  33  1014
4  X07  NaN   NaN  NaN    NaN  10  5  34  1015

In [33]:
# ID 이름이 다르게 지정된 경우
df1 = pd.DataFrame({'id':['X01', 'X02', 'X03', 'X04', 'X05'],
                    'A':[1,3,5,7,9],
                    'B':[11,12,13,14,15],
                    'C':[0,1,2,3,4],
                    'D':[101,102,103,104,105]})
df2 = pd.DataFrame({'user_id':['X01', 'X02', 'X03', 'X04', 'X07'],
                    'E':[2,4,6,8,10],
                   'F':[1,2,3,4,5],
                   'G':[30,31,32,33,34],
                   'H':[1011,1012,1013,1014,1015]})

In [34]:
# 각각의 id이름을 명시하여 merge
pd.merge(df1, df2, left_on='id', right_on='user_id')

    id  A   B  C    D user_id  E  F   G     H
0  X01  1  11  0  101     X01  2  1  30  1011
1  X02  3  12  1  102     X02  4  2  31  1012
2  X03  5  13  2  103     X03  6  3  32  1013
3  X04  7  14  3  104     X04  8  4  33  1014

DataFrame Join

In [36]:
df1 = pd.DataFrame({'A':[1,3,5,7,9],
                    'B':[11,12,13,14,15],
                    'C':[0,1,2,3,4],
                    'D':[101,102,103,104,105]}, index=[1,2,3,4,5])
df2 = pd.DataFrame({'E':[2,4,6,8,10],
                   'F':[1,2,3,4,5],
                   'G':[30,31,32,33,34],
                   'H':[1011,1012,1013,1014,1015]}, index=[6,7,8,9,10])

In [37]:
df1

   A   B  C    D
1  1  11  0  101
2  3  12  1  102
3  5  13  2  103
4  7  14  3  104
5  9  15  4  105

In [38]:
df2

     E  F   G     H
6    2  1  30  1011
7    4  2  31  1012
8    6  3  32  1013
9    8  4  33  1014
10  10  5  34  1015

In [39]:
df1.join(df2)

   A   B  C    D   E   F   G   H
1  1  11  0  101 NaN NaN NaN NaN
2  3  12  1  102 NaN NaN NaN NaN
3  5  13  2  103 NaN NaN NaN NaN
4  7  14  3  104 NaN NaN NaN NaN
5  9  15  4  105 NaN NaN NaN NaN

In [41]:
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

In [42]:
df1.join(df2)

   A   B  C    D   E  F   G     H
0  1  11  0  101   2  1  30  1011
1  3  12  1  102   4  2  31  1012
2  5  13  2  103   6  3  32  1013
3  7  14  3  104   8  4  33  1014
4  9  15  4  105  10  5  34  1015

In [43]:
df1.join(df2, how='right')

   A   B  C    D   E  F   G     H
0  1  11  0  101   2  1  30  1011
1  3  12  1  102   4  2  31  1012
2  5  13  2  103   6  3  32  1013
3  7  14  3  104   8  4  33  1014
4  9  15  4  105  10  5  34  1015